{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link type = 'text/css' rel="stylesheet" href='{% static "css/style.css" %}'>

    <title>Mapa Principal</title>
</head>

<body>

    <canvas class = canva id = "idCanva" width="500" height="500" style="position: absolute; border: solid blue"></canvas>
    <canvas class = canva id = "idCanva2" width="500" height="500" style="position: absolute;border: solid blue"></canvas>

    <div class="head">
        <div class="logo">
            <a href="#">Logo</a>
        </div>

        <nav class="navbar">
            <a href="/">Inicio</a>
        </nav>

    </div>


    <script src = '{% static "js/point.js" %}' ></script>
    
    <Script src ='{% static "js/main.js" %}'></Script>

    </canvas>
</body>
</html>
